<h1>Studios napisi nesto</h1>

<h2>To create new studio <%= link_to 'click here', new_studio_path(@studio) %></h2>

<ul>
  <% @studios.each do |studio| %>
    <li>
        <p>Name: <%= studio.name %>
          <a href="<%= studio_path(studio) %>">
              Izaberi
          </a>
        </p>
    </li>
  <% end %>
</ul>