<h1>Dobro dosli u studio: <%= @studio.name %></h1>

<ul>
  <% @studio.players.each do |player| %>
    <li>
        <p>Name: <%= player.name %></p>
    </li>
  <% end %>
</ul>

<h2>Za ulazak u studio otvorite <%= link_to 'Patient Record', new_studio_player_path(@studio) %></h2>
<h2>Link je: <%= new_studio_player_url(@studio) %></h2>
